/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

/*.content{
    background:url("../images/bg-top.png") no-repeat scroll 0 0 #fff;
}*/
.content .navbar .nav{
    .item{
        width:80px;
        height:24px;
        line-height:24px;
        padding:0;
    }
	.item.current,.item:hover{
        background:url("../images/bg-nav1.png") no-repeat scroll 0 0 transparent;
     }
    span.sword{
     padding:0;
     height:24px;
     line-height:24px;
    }
}