@import "compass/reset";
@import "compass/css3";
@import "compass/typography/links/unstyled-link";
/*@import "compass/utilities/general/clearfix";*/

.clear{clear:both;height:0px;overflow:hidden;}


*:focus {
    outline: 0;
}

body{
	font-size:12px;
  /*font-family: cursive;*/
  font-family: Arial;
	background-color:rgb(192,192,192);
}

$content-width:960px;

@mixin content{
	width:$content-width;
	margin:0 auto;
  position:relative;
}

/* 栅格化布局样式 */
.wrap { width: 952px;margin: 0 auto; position:relative; }
.grid { margin-right:8px; float: left; display: inline-block;}
.grid.grid-fixed {margin-right:0;}
.grid-1 { width:12px; }
.grid-2 { width:32px; }
.grid-3 { width:52px; }
.grid-4 { width:72px; }
.grid-5 { width:92px; }
.grid-6 { width:112px; }
.grid-7 { width:132px; }
.grid-8 { width:152px; }
.grid-9 { width:172px; }
.grid-10 { width:192px; }
.grid-11 { width:212px; }
.grid-12 { width:232px; }
.grid-13 { width:252px; }
.grid-14 { width:272px; }
.grid-15 { width:292px; }
.grid-16 { width:312px; }
.grid-17 { width:332px; }
.grid-18 { width:352px; }
.grid-19 { width:372px; }
.grid-20 { width:392px; }
.grid-21 { width:412px; }
.grid-22 { width:432px; }
.grid-23 { width:452px; }
.grid-24 { width:472px; }
.grid-25 { width:492px; }
.grid-26 { width:512px; }
.grid-27 { width:532px; }
.grid-28 { width:552px; }
.grid-29 { width:572px; }
.grid-30 { width:592px; }
.grid-31 { width:612px; }
.grid-32 { width:632px; }
.grid-33 { width:652px; }
.grid-34 { width:672px; }
.grid-35 { width:692px; }
.grid-36 { width:712px; }
.grid-37 { width:732px; }
.grid-38 { width:752px; }
.grid-39 { width:772px; }
.grid-40 { width:792px; }
.grid-41 { width:812px; }
.grid-42 { width:832px; }
.grid-43 { width:852px; }
.grid-44 { width:872px; }
.grid-45 { width:892px; }
.grid-46 { width:912px; }
.grid-47 { width:932px; }
.grid-48 { width:952px; }
/* End 栅格化布局样式 */
.grid520{width:520px;}
.gird-top10{
  padding-top:10px;
}

.panel{
  padding-top:9px;
  .panel-title{
     font-size:15px;
     font-weight:bold;
     padding-left:7px;
     padding:{
      top:10px;
      bottom:10px;
     }
     .more{
      @include inline-block;
      float:right;
      font-size:12px;
      color:rgb(148,203,85);
      font-weight: normal;
      text-decoration: none;
      margin-right: 20px;
     }
     .more:hover{
          text-decoration: underline;
          color:rgb(244,182,19);
       }
  }
  .content-text{
    line-height:20px;
    word-wrap: break-word;
    word-break: break-all;
  }
  .linklistbox{
     background:rgb(245,245,245);
     border:1px solid rgb(233,233,233);
     @include border-radius(3px);
     padding:{
      top:5px;
      bottom:5px;
      left:8px;
     }
     li{
       padding:{
         top:5px;
         bottom:5px;
       }
       a{
         background:url("../images/bg-linklistitem.png") no-repeat scroll 0 0 transparent;
         padding-left:23px;
         color:rgb(16,56,126);
         text-decoration: none; 
       }
       a:hover{
          text-decoration: underline;
          color:rgb(244,182,19);
       }
     }
  }
}
.panel413{
  background:url("../images/bg-panel413.png") no-repeat scroll 0 0 transparent;
  width:413px;
}
.panel177{
  background:url("../images/bg-panel177.png") no-repeat scroll 0 0 transparent;
  width:177px;
}
.panel208{
  background:url("../images/bg-panel208.png") no-repeat scroll 0 0 transparent;
  width:208px;
}
.newsbox{
  .newsbox-title{
     font-size:15px;
     font-weight:bold;
     /*padding-left:7px;*/
     padding:{
      /*top:10px;*/
      bottom:5px;
     }
     border-bottom:1px solid rgb(195,195,195);
     .more{
        @include inline-block;
        float:right;
        font-size:12px;
        color:rgb(148,203,85);
        font-weight: normal;
        text-decoration: none;
        /*margin-right: 20px;*/
        margin-top: 4px;
     }
     .more:hover{
          text-decoration: underline;
          color:rgb(244,182,19);
       }
  }
  .artical_listbox{
     padding:{
      top:15px;
      bottom:5px;
      left:8px;
     }
     li{
       padding:{
         /*top:5px;*/
         bottom:10px;
         left:23px;
       }
       background:url("../images/bg-linklistitem.png") no-repeat scroll 0 0 transparent;
       a{
         @include inline-block;
         color:rgb(16,56,126);
         text-decoration: none; 
       }
       a:hover{
          text-decoration: underline;
          color:rgb(244,182,19);
       }
       .date{
         float:right;
         color:rgb(170,170,170);
       }
     }
  }
}

.content{
	@include content;
	margin:{
      top:20px;
      bottom:20px;
    }
	padding-top:10px;
	background-color:#fff;
	@include border-corner-radius(top, left, 5px);
	@include border-corner-radius(top, right, 5px);
	min-height:900px;
	.navbar{
	  width:100%;
	  height:39px;
	  background:url("../images/bg-nav.png") no-repeat scroll 0 0 transparent;
	  position: relative;
	  .logo{
	    position: absolute;
	    @include inline-block;
	    cursor:pointer;
	    background:url("../images/logo.png") no-repeat scroll 0 0 transparent;
	    width:104px;
	    height:100px;
	    top: -3px;
	    left:0;
	  }
	  .nav{
	    color:#fff;
	    $space:7px;
	    margin-left:125px - $space;
	    font-size:15px;
	    padding-top: 4px;
        a{
          color:#000;
          @include inline-block;
          text-decoration: none;
          padding:{
           top:5px;
           left:5px;
           right:5px;
           bottom:5px;
          }
          text-align: center;
          margin:{
           left:$space;
           right:$space;
          }
        }
        span.sword{
          @include inline-block;
         /* padding:{
           top:3px;
          }*/
        }
        a.current,a:hover{
          @include border-radius(3px);
          background:rgb(8,64,134);
          color:#fff;
        }

        .searchbox{
         float:right;
         margin-right:18px;
         margin-top: -2px;
         input{
          border:none;
          background:url("../images/bg-searchbox.png") no-repeat scroll 0 0 transparent;
          height:26px;
          width:88px;
          padding-left:12px;
          float:left;
         }
         .searchbtn{
          width:28px;
          height:26px;
          border:none;
          background:url("../images/bg-searchbtn.png") no-repeat scroll 0 0 transparent;
          float:left;
          cursor:pointer;
         }
        }
	  }
	}
  .navbar2{
      font-size:14px;
      font-weight:bold;
      $space:7px;
      overflow: hidden;
      width: 100%;
      .nav2{
       float:right;
       padding:{
        top:$space;
        bottom:$space;
        right:20px;
       }
       a{
          margin:{
            left:$space;
            right:$space;
          }
          text-decoration: none;
          color:rgb(184,184,184);
       }
       a:hover,a.current{
          text-decoration: underline;
          color:rgb(244,182,19);
       }
      }
  }
  .ad1{
   width:100%

  }
  .ad2{
   padding-left:10px;
  }
  .ad3{
   li{
     @include inline-block;
   }
   .fix_ad3_right{
    padding-right:3px;
   }
  }
  .ad4{
    padding-left:10px;
    .search_box{

      input{
        padding: 1px 0px;
        border: 1px solid #999;
        width:160px;
      }
    }
    .search_btn{
     padding:{
      top:16px;
      bottom:30px;
     }
     button{
       border:none;
       background:url("../images/bg-searchbtn1.png") no-repeat scroll 0 0 transparent;
       width:122px;
       height:26px;
       cursor:pointer;
     }
    }
  }
  .ad5{
     width:450px;
     .artical_listbox li a{width:340px;}
  }
  .ad6{
    padding:{
     top:14px;
     left:40px;
    }
    .tagal{
     width:200px;
     height:96px;
     background:url("../images/bg-tagal.png") no-repeat scroll 0 0 transparent;
    }
  }
}