@charset "utf-8";
@import "compass/css3";
@import "compass/typography/links/unstyled-link";


.panel_menu{
  padding-top:6px;
  .panelcontentbox{
     .border_top_fix{
        border:{
          left:1px solid rgb(233,233,233);
          right:1px solid rgb(233,233,233);
          top:1px solid rgb(233,233,233);
        }
        height:5px;
        @include border-corner-radius(top, left, 5px);
        @include border-corner-radius(top, right, 5px);
        background:rgb(245,245,245);
     }
     .border_bottom_fix{
        border:{
          left:1px solid rgb(233,233,233);
          right:1px solid rgb(233,233,233);
          bottom:1px solid rgb(233,233,233);
        }
        height:5px;
        @include border-corner-radius(bottom, left, 5px);
        @include border-corner-radius(bottom, right, 5px);
        background:rgb(245,245,245);
     }
  }
  li{
     span.menu_item{
        background:rgb(245,245,245);
        border:{
         left:1px solid rgb(233,233,233);
         right:1px solid rgb(233,233,233);
        }
        border-bottom:1px solid rgb(233,233,233);
        a{
           padding-left:23px + 8px;
           color:rgb(16,56,126);
           text-decoration: none; 
           display:block;
           line-height:24px;
           background-position:8px 50%;
           background-repeat: no-repeat;
           background-color: transparent;
           background-attachment: scroll;
           background-size: initial;
           background-origin: initial;
           background-clip: initial;
         }
     }
     span.menu_item.last{
        border-bottom:none;
     }
     span.menu_item.current,span.menu_item:hover{
         a{
            text-decoration: underline;
            color:rgb(244,182,19);
            /*font-weight:bold;*/
         }
     }
     div.item_border_bottom_fix{
       height:1px;
       border-bottom:1px solid rgb(233,233,233);
       display:none;
     }
     span.open{
        div.item_border_bottom_fix{
          display: block;
        }
        ul{display: block;}
     }
     ul{
        background:#fff;
        li{
          background:rgb(176,211,94);
          border-bottom:1px solid rgb(233,233,233);
          position: relative;
          z-index: 20;
        }
        display:none;
     }
     
     li.current{
       z-index: 30;
       background:rgb(192,219,126);
       @include box-shadow(#999 2px 2px 6px);
       /*margin-top:-2px;
       margin-bottom:-2px;*/
       border-bottom:none;
       *border-bottom:1px solid rgb(233,233,233);
       *border-top:1px solid rgb(233,233,233);
       a{
         color:#fff;
         /*text-decoration: underline;
         font-weight:bold;*/
       }
     }
     li{
       a{
         padding-left: 10px + 30px + 14px;
         display:block;
         line-height:24px;
         text-decoration: none;
         background-position:8px + 10px + 14px  50%;
         background-repeat: no-repeat;
         background-color: transparent;
         background-attachment: scroll;
         background-size: initial;
         background-origin: initial;
         background-clip: initial; 
       }
       a{
          color:rgb(226,239,196);
       }
     }
     span{
      cursor:pointer;
      display: block;
     }
   }
}