TABLE {
	BORDER-RIGHT: #e3f1fe 1px solid;
	BORDER-TOP: #e3f1fe 1px solid;
	MARGIN: 1em auto;
	WIDTH: 100%;
	BORDER-COLLAPSE: collapse
	border-spacing: 2px;
    font:12px/22px Arial;
}

CAPTION {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 0.94em;
	PADDING-BOTTOM: 0px;
	MARGIN: 1em 0px 0px;
	COLOR: #9ba9b4;
	PADDING-TOP: 0px;
	LETTER-SPACING: 0.1em;
	TEXT-ALIGN: center;
	caption-side: top
}

TR.odd TD {
	BACKGROUND: url(../Images/background.gif) #f4f9fe no-repeat
}

TR.odd .column1 {
	BACKGROUND: url(../Images/background.gif) #f4f9fe no-repeat
}

.column1 {
	BACKGROUND: #f9fcfe
}

TD {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	PADDING-BOTTOM: 0.3em;
	BORDER-LEFT: #e5eff8 1px solid;
	COLOR: #678197;
	PADDING-TOP: 0.3em;
	BORDER-BOTTOM: #e3f1fe 1px solid;
	TEXT-ALIGN: center
}

TH {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	FONT-WEIGHT: normal;
	PADDING-BOTTOM: 0.3em;
	BORDER-LEFT: #e5eff8 1px solid;
	COLOR: #678197;
	PADDING-TOP: 0.3em;
	BORDER-BOTTOM: #e3f1fe 1px solid;
	TEXT-ALIGN: left
}

THEAD TH {
	BACKGROUND: #f4f9fe;
	FONT: bold 1.2em/ 2em "Century Gothic", "Trebuchet MS", Arial, Helvetica,
		sans-serif;
	COLOR: #66a3d3;
	TEXT-ALIGN: center
}

TFOOT TH {
	BACKGROUND: #f4f9fe;
	TEXT-ALIGN: center
}

TFOOT TH STRONG {
	MARGIN: 0.5em 0.5em 0.5em 0px;
	FONT: bold 1.2em "Century Gothic", "Trebuchet MS", Arial, Helvetica,
		sans-serif;
	COLOR: #66a3d3
}

TFOOT TH EM {
	FONT-WEIGHT: bold;
	FONT-SIZE: 1.1em;
	COLOR: #f03b58;
	FONT-STYLE: normal
}

.column11 {
	BACKGROUND: #f9fcfe
}