.panel li  a{
	background-position-x: 0px;
	background-position-y: 50%;
	background-size: initial;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-attachment: scroll;
	background-origin: initial;
	background-clip: initial;
	background-color: transparent;
}
a.linkTo{background-image: url("../images/bg-linklistitem.png");}
a.bookmark{background-image:url("../images/icon-bookmark_12.png");}
a.eye{background-image:url("../images/icon-eye_12.png");}
a.globe{background-image:url("../images/icon-globe_12.png");} 
a.heart{background-image:url("../images/icon-heart_12.png");} 
a.list{background-image:url("../images/icon-list_12.png");} 
a.terminal{background-image:url("../images/icon-terminal_12.png");} 
a.trolley{background-image:url("../images/icon-trolley_12.png");}
a.career{background-image:url("../images/icon-career_12.png");}
a.investor{background-image:url("../images/icon-investor_12.png");}
a.notice{background-image:url("../images/icon-notice_12.png");}
a.tagal{background-image:url("../images/icon-tagal_12.png");}
a.business_commerce{background-image:url("../icon/business_commerce.png");}