.panel li  a{
	background-position:0 50%;
	background-repeat: no-repeat;
	background-color: transparent;
	background-attachment: scroll;
	background-size: initial;
	background-origin: initial;
	background-clip: initial;
}
a.linkTo{background-image: url("../images/bg-linklistitem.png");}
a.bookmark{background-image:url("../images/icon-bookmark_12.png");}
a.eye{background-image:url("../images/icon-eye_12.png");}
a.globe{background-image:url("../images/icon-globe_12.png");} 
a.heart{background-image:url("../images/icon-heart_12.png");} 
a.list{background-image:url("../images/icon-list_12.png");} 
a.terminal{background-image:url("../images/icon-terminal_12.png");} 
a.trolley{background-image:url("../images/icon-trolley_12.png");}
a.career{background-image:url("../images/icon-career_12.png");}
a.investor{background-image:url("../images/icon-investor_12.png");}
a.notice{background-image:url("../images/icon-notice_12.png");}
a.tagal{background-image:url("../images/icon-tagal_12.png");}
a.business_commerce{background-image:url("../icon/business_commerce.png");}

a.production-process{background-image:url("../icon/production-process.png");}
a.quality-assurance{background-image:url("../icon/quality-assurance.png");}
a.technical-highlight{background-image:url("../icon/technical-highlight.png");}