@charset "UTF-8";
/* line 5, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*@import "compass/utilities/general/clearfix";*/
/* line 6, ../sass/main.scss */
.clear {
  clear: both;
  height: 0px;
  overflow: hidden;
}

/* line 9, ../sass/main.scss */
*:focus {
  outline: 0;
}

/* line 13, ../sass/main.scss */
body {
  font-size: 12px;
  /*font-family: cursive;*/
  font-family: Arial;
  background-color: silver;
}

/* 鏍呮牸鍖栧竷灞€鏍峰紡 */
/* line 29, ../sass/main.scss */
.wrap {
  width: 952px;
  margin: 0 auto;
  position: relative;
}

/* line 30, ../sass/main.scss */
.grid {
  margin-right: 8px;
  float: left;
  display: inline-block;
}

/* line 31, ../sass/main.scss */
.grid.grid-fixed {
  margin-right: 0;
}

/* line 32, ../sass/main.scss */
.grid-1 {
  width: 12px;
}

/* line 33, ../sass/main.scss */
.grid-2 {
  width: 32px;
}

/* line 34, ../sass/main.scss */
.grid-3 {
  width: 52px;
}

/* line 35, ../sass/main.scss */
.grid-4 {
  width: 72px;
}

/* line 36, ../sass/main.scss */
.grid-5 {
  width: 92px;
}

/* line 37, ../sass/main.scss */
.grid-6 {
  width: 112px;
}

/* line 38, ../sass/main.scss */
.grid-7 {
  width: 132px;
}

/* line 39, ../sass/main.scss */
.grid-8 {
  width: 152px;
}

/* line 40, ../sass/main.scss */
.grid-9 {
  width: 172px;
}

/* line 41, ../sass/main.scss */
.grid-10 {
  width: 192px;
}

/* line 42, ../sass/main.scss */
.grid-11 {
  width: 212px;
}

/* line 43, ../sass/main.scss */
.grid-12 {
  width: 232px;
}

/* line 44, ../sass/main.scss */
.grid-13 {
  width: 252px;
}

/* line 45, ../sass/main.scss */
.grid-14 {
  width: 272px;
}

/* line 46, ../sass/main.scss */
.grid-15 {
  width: 292px;
}

/* line 47, ../sass/main.scss */
.grid-16 {
  width: 312px;
}

/* line 48, ../sass/main.scss */
.grid-17 {
  width: 332px;
}

/* line 49, ../sass/main.scss */
.grid-18 {
  width: 352px;
}

/* line 50, ../sass/main.scss */
.grid-19 {
  width: 372px;
}

/* line 51, ../sass/main.scss */
.grid-20 {
  width: 392px;
}

/* line 52, ../sass/main.scss */
.grid-21 {
  width: 412px;
}

/* line 53, ../sass/main.scss */
.grid-22 {
  width: 432px;
}

/* line 54, ../sass/main.scss */
.grid-23 {
  width: 452px;
}

/* line 55, ../sass/main.scss */
.grid-24 {
  width: 472px;
}

/* line 56, ../sass/main.scss */
.grid-25 {
  width: 492px;
}

/* line 57, ../sass/main.scss */
.grid-26 {
  width: 512px;
}

/* line 58, ../sass/main.scss */
.grid-27 {
  width: 532px;
}

/* line 59, ../sass/main.scss */
.grid-28 {
  width: 552px;
}

/* line 60, ../sass/main.scss */
.grid-29 {
  width: 572px;
}

/* line 61, ../sass/main.scss */
.grid-30 {
  width: 592px;
}

/* line 62, ../sass/main.scss */
.grid-31 {
  width: 612px;
}

/* line 63, ../sass/main.scss */
.grid-32 {
  width: 632px;
}

/* line 64, ../sass/main.scss */
.grid-33 {
  width: 652px;
}

/* line 65, ../sass/main.scss */
.grid-34 {
  width: 672px;
}

/* line 66, ../sass/main.scss */
.grid-35 {
  width: 692px;
}

/* line 67, ../sass/main.scss */
.grid-36 {
  width: 712px;
}

/* line 68, ../sass/main.scss */
.grid-37 {
  width: 732px;
}

/* line 69, ../sass/main.scss */
.grid-38 {
  width: 752px;
}

/* line 70, ../sass/main.scss */
.grid-39 {
  width: 772px;
}

/* line 71, ../sass/main.scss */
.grid-40 {
  width: 792px;
}

/* line 72, ../sass/main.scss */
.grid-41 {
  width: 812px;
}

/* line 73, ../sass/main.scss */
.grid-42 {
  width: 832px;
}

/* line 74, ../sass/main.scss */
.grid-43 {
  width: 852px;
}

/* line 75, ../sass/main.scss */
.grid-44 {
  width: 872px;
}

/* line 76, ../sass/main.scss */
.grid-45 {
  width: 892px;
}

/* line 77, ../sass/main.scss */
.grid-46 {
  width: 912px;
}

/* line 78, ../sass/main.scss */
.grid-47 {
  width: 932px;
}

/* line 79, ../sass/main.scss */
.grid-48 {
  width: 952px;
}

/* End 鏍呮牸鍖栧竷灞€鏍峰紡 */
/* line 81, ../sass/main.scss */
.grid520 {
  width: 520px;
}

/* line 82, ../sass/main.scss */
.padding-top10 {
  padding-top: 10px;
}

/* line 85, ../sass/main.scss */
.margin-top10 {
  margin-top: 10px;
}

/* line 88, ../sass/main.scss */
.margin-top20 {
  margin-top: 20px;
}

/*
.margin-bottom20{
  margin-bottom:20px;
}
*/
/* line 97, ../sass/main.scss */
.panel {
  padding-top: 9px;
}
/* line 99, ../sass/main.scss */
.panel .panel-title {
  font-size: 15px;
  font-weight: bold;
  padding-left: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 107, ../sass/main.scss */
.panel .panel-title .more {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: right;
  font-size: 12px;
  color: #94cb55;
  font-weight: normal;
  text-decoration: none;
  margin-right: 20px;
}
/* line 116, ../sass/main.scss */
.panel .panel-title .more:hover {
  text-decoration: underline;
  color: #f4b613;
}
/* line 121, ../sass/main.scss */
.panel .content-text {
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
}
/* line 126, ../sass/main.scss */
.panel .linklistbox {
  background: whitesmoke;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
}
/* line 135, ../sass/main.scss */
.panel .linklistbox li {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 140, ../sass/main.scss */
.panel .linklistbox li a {
  background: url("../images/bg-linklistitem.png") no-repeat scroll 0 0 transparent;
  padding-left: 23px;
  color: #10387e;
  text-decoration: none;
}
/* line 146, ../sass/main.scss */
.panel .linklistbox li a:hover {
  text-decoration: underline;
  color: #f4b613;
}
/* line 150, ../sass/main.scss */
.panel .linklistbox li .bookmark {
  background: url("../images/icon-bookmark_12.png") no-repeat scroll 0 0 transparent;
}
/* line 151, ../sass/main.scss */
.panel .linklistbox li .eye {
  background: url("../images/icon-eye_12.png") no-repeat scroll 0 0 transparent;
}
/* line 152, ../sass/main.scss */
.panel .linklistbox li .globe {
  background: url("../images/icon-globe_12.png") no-repeat scroll 0 0 transparent;
}
/* line 153, ../sass/main.scss */
.panel .linklistbox li .heart {
  background: url("../images/icon-heart_12.png") no-repeat scroll 0 0 transparent;
}
/* line 154, ../sass/main.scss */
.panel .linklistbox li .list {
  background: url("../images/icon-list_12.png") no-repeat scroll 0 0 transparent;
}
/* line 155, ../sass/main.scss */
.panel .linklistbox li .terminal {
  background: url("../images/icon-terminal_12.png") no-repeat scroll 0 0 transparent;
}
/* line 156, ../sass/main.scss */
.panel .linklistbox li .trolley {
  background: url("../images/icon-trolley_12.png") no-repeat scroll 0 0 transparent;
}
/* line 160, ../sass/main.scss */
.panel .search_box {
  padding-right: 10px;
}
/* line 162, ../sass/main.scss */
.panel .search_box input {
  padding: 1px 0px;
  border: 1px solid #999;
  width: 100%;
}
/* line 168, ../sass/main.scss */
.panel .search_btn {
  padding-top: 16px;
  padding-bottom: 30px;
}
/* line 173, ../sass/main.scss */
.panel .search_btn button {
  border: none;
  background: url("../images/bg-searchbtn1.png") no-repeat scroll 0 0 transparent;
  width: 122px;
  height: 26px;
  cursor: pointer;
}

/* line 182, ../sass/main.scss */
.panel413 {
  background: url("../images/bg-panel413.png") no-repeat scroll 0 0 transparent;
  width: 413px;
}

/* line 186, ../sass/main.scss */
.panel164 {
  background: url("../images/bg-panel164.png") no-repeat scroll 0 0 transparent;
  width: 164px;
}

/* line 190, ../sass/main.scss */
.panel170 {
  background: url("../images/bg-panel170.png") no-repeat scroll 0 0 transparent;
  width: 170px;
}

/* line 194, ../sass/main.scss */
.panel177 {
  background: url("../images/bg-panel177.png") no-repeat scroll 0 0 transparent;
  width: 177px;
}

/* line 198, ../sass/main.scss */
.panel208 {
  background: url("../images/bg-panel208.png") no-repeat scroll 0 0 transparent;
  width: 208px;
}

/* line 203, ../sass/main.scss */
.newsbox .newsbox-title {
  font-size: 15px;
  font-weight: bold;
  /*padding-left:7px;*/
  /*top:10px;*/
  padding-bottom: 5px;
  border-bottom: 1px solid #c3c3c3;
}
/* line 212, ../sass/main.scss */
.newsbox .newsbox-title .more {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: right;
  font-size: 12px;
  color: #94cb55;
  font-weight: normal;
  text-decoration: none;
  /*margin-right: 20px;*/
  margin-top: 4px;
}
/* line 222, ../sass/main.scss */
.newsbox .newsbox-title .more:hover {
  text-decoration: underline;
  color: #f4b613;
}
/* line 227, ../sass/main.scss */
.newsbox .artical_listbox {
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 8px;
}
/* line 233, ../sass/main.scss */
.newsbox .artical_listbox li {
  /*top:5px;*/
  padding-bottom: 10px;
  padding-left: 23px;
  background: url("../images/bg-linklistitem.png") no-repeat scroll 0 0 transparent;
}
/* line 240, ../sass/main.scss */
.newsbox .artical_listbox li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #10387e;
  text-decoration: none;
}
/* line 245, ../sass/main.scss */
.newsbox .artical_listbox li a:hover {
  text-decoration: underline;
  color: #f4b613;
}
/* line 249, ../sass/main.scss */
.newsbox .artical_listbox li .date {
  float: right;
  color: #aaaaaa;
}

/* line 257, ../sass/main.scss */
.content {
  width: 960px;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
  background-color: #fff;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  /*min-height:900px;*/
}
/* line 267, ../sass/main.scss */
.content .navbar {
  width: 100%;
  height: 39px;
  background: url("../images/bg-nav.png") no-repeat scroll 0 0 transparent;
  position: relative;
}
/* line 272, ../sass/main.scss */
.content .navbar .logo {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
  width: 104px;
  height: 100px;
  top: -3px;
  left: 0;
}
/* line 282, ../sass/main.scss */
.content .navbar .nav {
  color: #fff;
  margin-left: 118px;
  font-size: 15px;
  padding-top: 4px;
}
/* line 288, ../sass/main.scss */
.content .navbar .nav a {
  color: #000;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-left: 7px;
  margin-right: 7px;
  height: 24px;
  line-height: 24px;
}
/* line 304, ../sass/main.scss */
.content .navbar .nav span.sword {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 24px;
  line-height: 24px;
  /* padding:{
    top:3px;
   }*/
}
/* line 312, ../sass/main.scss */
.content .navbar .nav a.current, .content .navbar .nav a:hover {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #084086;
  color: #fff;
}
/* line 318, ../sass/main.scss */
.content .navbar .nav .searchbox {
  float: right;
  margin-right: 18px;
  margin-top: -2px;
}
/* line 322, ../sass/main.scss */
.content .navbar .nav .searchbox input {
  border: none;
  background: url("../images/bg-searchbox.png") no-repeat scroll 0 0 transparent;
  height: 26px;
  line-height: 26px;
  width: 88px;
  padding-left: 12px;
  float: left;
}
/* line 331, ../sass/main.scss */
.content .navbar .nav .searchbox .searchbtn {
  width: 28px;
  height: 26px;
  border: none;
  background: url("../images/bg-searchbtn.png") no-repeat scroll 0 0 transparent;
  float: left;
  cursor: pointer;
}
/* line 342, ../sass/main.scss */
.content .navbar2 {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  width: 100%;
}
/* line 348, ../sass/main.scss */
.content .navbar2 .nav2 {
  float: right;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
}
/* line 355, ../sass/main.scss */
.content .navbar2 .nav2 a {
  margin-left: 7px;
  margin-right: 7px;
  text-decoration: none;
  color: #b8b8b8;
}
/* line 363, ../sass/main.scss */
.content .navbar2 .nav2 a:hover, .content .navbar2 .nav2 a.current {
  text-decoration: underline;
  color: #f4b613;
}
/* line 369, ../sass/main.scss */
.content .ad1 {
  width: 100%;
}
/* line 373, ../sass/main.scss */
.content .ad2 {
  padding-left: 10px;
}
/* line 377, ../sass/main.scss */
.content .ad3 li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 380, ../sass/main.scss */
.content .ad3 .fix_ad3_right {
  padding-right: 3px;
}
/* line 384, ../sass/main.scss */
.content .ad4 {
  padding-left: 10px;
}
/* line 387, ../sass/main.scss */
.content .ad5 {
  width: 450px;
}
/* line 389, ../sass/main.scss */
.content .ad5 .artical_listbox li a {
  width: 340px;
}
/* line 391, ../sass/main.scss */
.content .ad6 {
  padding-top: 14px;
  padding-left: 40px;
}
/* line 396, ../sass/main.scss */
.content .ad6 .tagal {
  width: 200px;
  height: 96px;
  background: url("../images/bg-tagal.png") no-repeat scroll 0 0 transparent;
}
/* line 401, ../sass/main.scss */
.content .ad6 .tagal_title {
  font-size: 15px;
  line-height: 30px;
}
/* line 406, ../sass/main.scss */
.content .ad7 {
  padding-top: 50px;
  padding-left: 5px;
}
/* line 413, ../sass/main.scss */
.content .sub_page_imgbox img {
  /*width:580px;*/
  width: 100%;
  height: auto;
}
/* line 415, ../sass/main.scss */
.content .sub_page_content {
  padding-left: 10px;
  padding-bottom: 20px;
}
/* line 420, ../sass/main.scss */
.content .sub_page_content .sub_page_content_title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 430, ../sass/main.scss */
.content .sub_page_content .sub_page_content_content {
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 20px;
}

/* line 439, ../sass/main.scss */
.footer {
  width: 960px;
  padding-top: 18px;
  background: url("../images/bg-footer.png") no-repeat scroll 0 0 #fff;
  margin: 0 auto;
}
/* line 444, ../sass/main.scss */
.footer a {
  color: #10387e;
  text-decoration: none;
}
/* line 448, ../sass/main.scss */
.footer a:hover {
  text-decoration: underline;
  color: #f4b613;
}
/* line 452, ../sass/main.scss */
.footer .footer-info {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 450px;
}
/* line 456, ../sass/main.scss */
.footer .footer-info-link {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 462, ../sass/main.scss */
.footer .footer-info-icp {
  padding-bottom: 10px;
}
/* line 467, ../sass/main.scss */
.footer div.brand {
  float: right;
  background: url("../images/bg-brand.png") no-repeat scroll 0 0 #fff;
  height: 37px;
  width: 112px;
  margin-right: 18px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
