@charset "UTF-8";
/* line 5, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*@import "compass/utilities/general/clearfix";*/
/* line 30, ../sass/main.scss */
.clear {
  clear: both;
  height: 0px;
  overflow: hidden;
}

/* line 33, ../sass/main.scss */
*:focus {
  outline: 0;
}

/* line 37, ../sass/main.scss */
html, body {
  font-size: 12px;
  /*font-family: cursive;*/
  font-family: Arial;
  background-color: silver;
  height: 100%;
}

/* line 45, ../sass/main.scss */
#container {
  padding-top: 30px;
  position: relative;
  font-size: 12px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  width: 960px;
  margin: 0 auto;
  background: url("../images/bg-topbar.png") no-repeat scroll 0 0 #fff;
}

/* 栅格化布局样式 */
/* line 83, ../sass/main.scss */
.wrap {
  /*width: 952px;*/
  width: 960px;
  margin: 0 auto;
  position: relative;
}

/* line 84, ../sass/main.scss */
.grid {
  margin-right: 8px;
  float: left;
  display: inline-block;
}

/* line 85, ../sass/main.scss */
.grid.grid-fixed {
  margin-right: 0;
}

/* line 86, ../sass/main.scss */
.grid-1 {
  width: 12px;
}

/* line 87, ../sass/main.scss */
.grid-2 {
  width: 32px;
}

/* line 88, ../sass/main.scss */
.grid-3 {
  width: 52px;
}

/* line 89, ../sass/main.scss */
.grid-4 {
  width: 72px;
}

/* line 90, ../sass/main.scss */
.grid-5 {
  width: 92px;
}

/* line 91, ../sass/main.scss */
.grid-6 {
  width: 112px;
}

/* line 92, ../sass/main.scss */
.grid-7 {
  width: 132px;
}

/* line 93, ../sass/main.scss */
.grid-8 {
  width: 152px;
}

/* line 94, ../sass/main.scss */
.grid-9 {
  width: 172px;
}

/* line 95, ../sass/main.scss */
.grid-10 {
  width: 192px;
}

/* line 96, ../sass/main.scss */
.grid-11 {
  width: 212px;
}

/* line 97, ../sass/main.scss */
.grid-12 {
  width: 232px;
}

/* line 98, ../sass/main.scss */
.grid-13 {
  width: 252px;
}

/* line 99, ../sass/main.scss */
.grid-14 {
  width: 272px;
}

/* line 100, ../sass/main.scss */
.grid-15 {
  width: 292px;
}

/* line 101, ../sass/main.scss */
.grid-16 {
  width: 312px;
}

/* line 102, ../sass/main.scss */
.grid-17 {
  width: 332px;
}

/* line 103, ../sass/main.scss */
.grid-18 {
  width: 352px;
}

/* line 104, ../sass/main.scss */
.grid-19 {
  width: 372px;
}

/* line 105, ../sass/main.scss */
.grid-20 {
  width: 392px;
}

/* line 106, ../sass/main.scss */
.grid-21 {
  width: 412px;
}

/* line 107, ../sass/main.scss */
.grid-22 {
  width: 432px;
}

/* line 108, ../sass/main.scss */
.grid-23 {
  width: 452px;
}

/* line 109, ../sass/main.scss */
.grid-24 {
  width: 472px;
}

/* line 110, ../sass/main.scss */
.grid-25 {
  width: 492px;
}

/* line 111, ../sass/main.scss */
.grid-26 {
  width: 512px;
}

/* line 112, ../sass/main.scss */
.grid-27 {
  width: 532px;
}

/* line 113, ../sass/main.scss */
.grid-28 {
  width: 552px;
}

/* line 114, ../sass/main.scss */
.grid-29 {
  width: 572px;
}

/* line 115, ../sass/main.scss */
.grid-30 {
  width: 592px;
}

/* line 116, ../sass/main.scss */
.grid-31 {
  width: 612px;
}

/* line 117, ../sass/main.scss */
.grid-32 {
  width: 632px;
}

/* line 118, ../sass/main.scss */
.grid-33 {
  width: 652px;
}

/* line 119, ../sass/main.scss */
.grid-34 {
  width: 672px;
}

/* line 120, ../sass/main.scss */
.grid-35 {
  width: 692px;
}

/* line 121, ../sass/main.scss */
.grid-36 {
  width: 712px;
}

/* line 122, ../sass/main.scss */
.grid-37 {
  width: 732px;
}

/* line 123, ../sass/main.scss */
.grid-38 {
  width: 752px;
}

/* line 124, ../sass/main.scss */
.grid-39 {
  width: 772px;
}

/* line 125, ../sass/main.scss */
.grid-40 {
  width: 792px;
}

/* line 126, ../sass/main.scss */
.grid-41 {
  width: 812px;
}

/* line 127, ../sass/main.scss */
.grid-42 {
  width: 832px;
}

/* line 128, ../sass/main.scss */
.grid-43 {
  width: 852px;
}

/* line 129, ../sass/main.scss */
.grid-44 {
  width: 872px;
}

/* line 130, ../sass/main.scss */
.grid-45 {
  width: 892px;
}

/* line 131, ../sass/main.scss */
.grid-46 {
  width: 912px;
}

/* line 132, ../sass/main.scss */
.grid-47 {
  width: 932px;
}

/* line 133, ../sass/main.scss */
.grid-48 {
  width: 952px;
}

/* End 栅格化布局样式 */
/* line 135, ../sass/main.scss */
.grid520 {
  width: 520px;
}

/* line 136, ../sass/main.scss */
.padding-top10 {
  padding-top: 10px;
}

/* line 139, ../sass/main.scss */
.margin-top10 {
  margin-top: 10px;
}

/* line 142, ../sass/main.scss */
.margin-top20 {
  margin-top: 20px;
}

/*
.margin-bottom20{
  margin-bottom:20px;
}
*/
/* line 150, ../sass/main.scss */
.position-static {
  position: static;
}

/* line 155, ../sass/main.scss */
.panel {
  padding-top: 6px;
}
/* line 157, ../sass/main.scss */
.panel .panel-title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #000;
  /*有可能是链接*/
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding-left: 7px;
  /*padding:{
   top:10px;
   bottom:10px;
  }*/
  line-height: 26px;
}
/* line 170, ../sass/main.scss */
.panel .panel-title .more {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: right;
  font-size: 12px;
  color: #94cb55;
  font-weight: normal;
  text-decoration: none;
  margin-right: 20px;
}
/* line 179, ../sass/main.scss */
.panel .panel-title .more:hover {
  text-decoration: underline;
  color: #f4b613;
}
/* line 183, ../sass/main.scss */
.panel .panel-title .sword {
  color: #89c644;
  padding-left: 16px;
}
/* line 188, ../sass/main.scss */
.panel a.panel-title:hover {
  color: #ffcc00;
}
/* line 190, ../sass/main.scss */
.panel a.panel-title:hover .sword {
  color: #ffcc00;
}
/* line 194, ../sass/main.scss */
.panel .content-text {
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
}
/* line 199, ../sass/main.scss */
.panel .panelcontentbox {
  background: whitesmoke;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
}
/* line 210, ../sass/main.scss */
.panel li {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 215, ../sass/main.scss */
.panel li a {
  background: url("../images/bg-linklistitem.png") no-repeat scroll 0 0 transparent;
  padding-left: 23px;
  color: #10387e;
  text-decoration: none;
}
/* line 221, ../sass/main.scss */
.panel li a:hover {
  text-decoration: underline;
  color: #f4b613;
}
/* line 225, ../sass/main.scss */
.panel li .bookmark {
  background: url("../images/icon-bookmark_12.png") no-repeat scroll 0 0 transparent;
}
/* line 226, ../sass/main.scss */
.panel li .eye {
  background: url("../images/icon-eye_12.png") no-repeat scroll 0 0 transparent;
}
/* line 227, ../sass/main.scss */
.panel li .globe {
  background: url("../images/icon-globe_12.png") no-repeat scroll 0 0 transparent;
}
/* line 228, ../sass/main.scss */
.panel li .heart {
  background: url("../images/icon-heart_12.png") no-repeat scroll 0 0 transparent;
}
/* line 229, ../sass/main.scss */
.panel li .list {
  background: url("../images/icon-list_12.png") no-repeat scroll 0 0 transparent;
}
/* line 230, ../sass/main.scss */
.panel li .terminal {
  background: url("../images/icon-terminal_12.png") no-repeat scroll 0 0 transparent;
}
/* line 231, ../sass/main.scss */
.panel li .trolley {
  background: url("../images/icon-trolley_12.png") no-repeat scroll 0 0 transparent;
}
/* line 232, ../sass/main.scss */
.panel li .career {
  background: url("../images/icon-career_12.png") no-repeat scroll 0 0 transparent;
}
/* line 233, ../sass/main.scss */
.panel li .investor {
  background: url("../images/icon-investor_12.png") no-repeat scroll 0 0 transparent;
}
/* line 234, ../sass/main.scss */
.panel li .notice {
  background: url("../images/icon-notice_12.png") no-repeat scroll 0 0 transparent;
}
/* line 235, ../sass/main.scss */
.panel li .tagal {
  background: url("../images/icon-tagal_12.png") no-repeat scroll 0 0 transparent;
}
/* line 237, ../sass/main.scss */
.panel .search_box {
  padding-right: 10px;
}
/* line 239, ../sass/main.scss */
.panel .search_box input {
  padding: 1px 0px;
  border: 1px solid #999;
  width: 100%;
}
/* line 245, ../sass/main.scss */
.panel .search_btn {
  padding-top: 12px;
}
/* line 249, ../sass/main.scss */
.panel .search_btn button {
  border: none;
  background: url("../images/bg-searchbtn1.png") no-repeat scroll 0 0 transparent;
  width: 122px;
  height: 26px;
  cursor: pointer;
}

/* line 258, ../sass/main.scss */
.panel413 {
  background: url("../images/bg-panel413.png") no-repeat scroll 0 0 transparent;
  width: 413px;
}

/* line 262, ../sass/main.scss */
.panel164 {
  background: url("../images/bg-panel164.png") no-repeat scroll 0 0 transparent;
  width: 164px;
}

/* line 266, ../sass/main.scss */
.panel170 {
  background: url("../images/bg-panel170.png") no-repeat scroll 0 0 transparent;
  width: 170px;
}

/* line 270, ../sass/main.scss */
.panel177 {
  background: url("../images/bg-panel177.png") no-repeat scroll 0 0 transparent;
  width: 177px;
}

/* line 274, ../sass/main.scss */
.panel208 {
  background: url("../images/bg-panel208.png") no-repeat scroll 0 0 transparent;
  width: 208px;
}

/* line 279, ../sass/main.scss */
.newsbox .newsbox-title {
  font-size: 15px;
  font-weight: bold;
  /*padding-left:7px;*/
  /*top:10px;*/
  padding-bottom: 5px;
  border-bottom: 1px solid #c3c3c3;
}
/* line 288, ../sass/main.scss */
.newsbox .newsbox-title .more {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: right;
  font-size: 12px;
  color: #94cb55;
  font-weight: normal;
  text-decoration: none;
  /*margin-right: 20px;*/
  margin-top: 4px;
}
/* line 298, ../sass/main.scss */
.newsbox .newsbox-title .more:hover {
  text-decoration: underline;
  color: #f4b613;
}
/* line 303, ../sass/main.scss */
.newsbox .artical_listbox {
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 8px;
}
/* line 309, ../sass/main.scss */
.newsbox .artical_listbox li {
  /*top:5px;*/
  padding-bottom: 10px;
  padding-left: 23px;
  background: url("../images/bg-linklistitem.png") no-repeat scroll 0 0 transparent;
}
/* line 316, ../sass/main.scss */
.newsbox .artical_listbox li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #10387e;
  text-decoration: none;
}
/* line 321, ../sass/main.scss */
.newsbox .artical_listbox li a:hover {
  text-decoration: underline;
  color: #f4b613;
}
/* line 325, ../sass/main.scss */
.newsbox .artical_listbox li .date {
  float: right;
  color: #aaaaaa;
}

/* line 333, ../sass/main.scss */
.content {
  width: 960px;
  margin: 0 auto;
  font-size: 12px;
  /*min-height:100%;
  height:auto !important;
  height:100%;

  position:relative;*/
  padding-bottom: 72px;
  /*min-height:900px;*/
}
/* line 338, ../sass/main.scss */
.content .navbar {
  z-index: 999;
  width: 100%;
  height: 39px;
  background: url("../images/bg-nav.png") no-repeat scroll 0 0 transparent;
  position: relative;
}
/* line 344, ../sass/main.scss */
.content .navbar .logo {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
  width: 104px;
  height: 100px;
  top: -3px;
  left: 0;
}
/* line 354, ../sass/main.scss */
.content .navbar .nav {
  position: relative;
  color: #fff;
  margin-left: 118px;
  font-size: 15px;
  padding-top: 4px;
}
/* line 361, ../sass/main.scss */
.content .navbar .nav .item {
  cursor: pointer;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-left: 7px;
  margin-right: 7px;
  height: 24px;
  line-height: 24px;
}
/* line 378, ../sass/main.scss */
.content .navbar .nav span.sword {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 24px;
  line-height: 24px;
  /* padding:{
    top:3px;
   }*/
}
/* line 386, ../sass/main.scss */
.content .navbar .nav .current, .content .navbar .nav a:hover {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #084086;
  color: #fff;
}
/* line 391, ../sass/main.scss */
.content .navbar .nav span.item {
  position: relative;
}
/* line 393, ../sass/main.scss */
.content .navbar .nav span.item ul, .content .navbar .nav span.item li {
  /*for ie*/
  *float: left;
}
/* line 397, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box {
  display: none;
  position: absolute;
  left: 0px;
  top: 24px;
  /*图标*/
}
/* line 9, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li .i-HDG {
  background: url("../images/bg-menu-HDG.png") no-repeat scroll 10px 5px transparent;
}
/* line 10, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li .i-conce {
  background: url("../images/bg-menu-conce.png") no-repeat scroll 10px 5px transparent;
}
/* line 11, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li .i-cul {
  background: url("../images/bg-menu-cul.png") no-repeat scroll 10px 5px transparent;
}
/* line 12, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li .i-markets {
  background: url("../images/bg-menu-markets.png") no-repeat scroll 10px 5px transparent;
}
/* line 13, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li .i-obj {
  background: url("../images/bg-menu-obj.png") no-repeat scroll 10px 5px transparent;
}
/* line 14, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li .i-orga {
  background: url("../images/bg-menu-orga.png") no-repeat scroll 10px 5px transparent;
}
/* line 15, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li .i-organization {
  background: url("../images/bg-menu-organization.png") no-repeat scroll 10px 5px transparent;
}
/* line 16, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li .i-techn {
  background: url("../images/bg-menu-techn.png") no-repeat scroll 10px 5px transparent;
}
/* line 19, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li:hover .i-HDG {
  background: url("../images/bg-menu-orga.png") no-repeat scroll 10px 5px transparent;
}
/* line 20, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li:hover .i-conce {
  background: url("../images/bg-menu-conce.png") no-repeat scroll 10px 5px transparent;
}
/* line 21, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li:hover .i-cul {
  background: url("../images/bg-menu-cul.png") no-repeat scroll 10px 5px transparent;
}
/* line 22, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li:hover .i-markets {
  background: url("../images/bg-menu-markets.png") no-repeat scroll 10px 5px transparent;
}
/* line 23, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li:hover .i-obj {
  background: url("../images/bg-menu-obj.png") no-repeat scroll 10px 5px transparent;
}
/* line 24, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li:hover .i-orga {
  background: url("../images/bg-menu-orga.png") no-repeat scroll 10px 5px transparent;
}
/* line 25, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li:hover .i-organization {
  background: url("../images/bg-menu-organization.png") no-repeat scroll 10px 5px transparent;
}
/* line 26, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li:hover .i-techn {
  background: url("../images/bg-menu-techn.png") no-repeat scroll 10px 5px transparent;
}
/* line 406, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li {
  position: relative;
  text-align: left;
  height: 28px;
  background: url("../images/bg-menu-item.png") no-repeat scroll 0 0 transparent;
}
/* line 412, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li a, .content .navbar .nav span.item ul.m_box li span {
  color: #222;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 28px;
  line-height: 28px;
  padding-left: 38px;
  width: 100px;
}
/* line 424, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li:hover {
  background: url("../images/bg-menu-item-h.png") no-repeat scroll 0 0 transparent;
  margin-bottom: -6px;
  z-index: 999;
  height: 34px;
}
/* line 429, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li:hover a, .content .navbar .nav span.item ul.m_box li:hover span {
  color: #f3c347;
}
/* line 432, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box li:hover ul.m2_box {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 434, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box {
  /*图标*/
  position: absolute;
  display: none;
  left: 138px;
  top: 0;
}
/* line 9, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li .i-HDG {
  background: url("../images/bg-menu-HDG.png") no-repeat scroll 10px 5px transparent;
}
/* line 10, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li .i-conce {
  background: url("../images/bg-menu-conce.png") no-repeat scroll 10px 5px transparent;
}
/* line 11, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li .i-cul {
  background: url("../images/bg-menu-cul.png") no-repeat scroll 10px 5px transparent;
}
/* line 12, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li .i-markets {
  background: url("../images/bg-menu-markets.png") no-repeat scroll 10px 5px transparent;
}
/* line 13, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li .i-obj {
  background: url("../images/bg-menu-obj.png") no-repeat scroll 10px 5px transparent;
}
/* line 14, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li .i-orga {
  background: url("../images/bg-menu-orga.png") no-repeat scroll 10px 5px transparent;
}
/* line 15, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li .i-organization {
  background: url("../images/bg-menu-organization.png") no-repeat scroll 10px 5px transparent;
}
/* line 16, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li .i-techn {
  background: url("../images/bg-menu-techn.png") no-repeat scroll 10px 5px transparent;
}
/* line 19, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li:hover .i-HDG {
  background: url("../images/bg-menu-orga.png") no-repeat scroll 10px 5px transparent;
}
/* line 20, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li:hover .i-conce {
  background: url("../images/bg-menu-conce.png") no-repeat scroll 10px 5px transparent;
}
/* line 21, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li:hover .i-cul {
  background: url("../images/bg-menu-cul.png") no-repeat scroll 10px 5px transparent;
}
/* line 22, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li:hover .i-markets {
  background: url("../images/bg-menu-markets.png") no-repeat scroll 10px 5px transparent;
}
/* line 23, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li:hover .i-obj {
  background: url("../images/bg-menu-obj.png") no-repeat scroll 10px 5px transparent;
}
/* line 24, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li:hover .i-orga {
  background: url("../images/bg-menu-orga.png") no-repeat scroll 10px 5px transparent;
}
/* line 25, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li:hover .i-organization {
  background: url("../images/bg-menu-organization.png") no-repeat scroll 10px 5px transparent;
}
/* line 26, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li:hover .i-techn {
  background: url("../images/bg-menu-techn.png") no-repeat scroll 10px 5px transparent;
}
/* line 439, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li a, .content .navbar .nav span.item ul.m_box ul.m2_box li span {
  color: #222;
}
/* line 444, ../sass/main.scss */
.content .navbar .nav span.item ul.m_box ul.m2_box li:hover a, .content .navbar .nav span.item ul.m_box ul.m2_box li:hover span {
  color: #f3c347;
}
/* line 457, ../sass/main.scss */
.content .navbar .nav span.item:hover ul.m_box {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 462, ../sass/main.scss */
.content .navbar .nav .searchbox {
  position: absolute;
  right: 18px;
  top: 2px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 128px;
  height: 26px;
  background: url("../images/bg-searchbox.png") no-repeat scroll 0 0 transparent;
  overflow: hidden;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 470, ../sass/main.scss */
.content .navbar .nav .searchbox span.desc {
  padding-left: 12px;
  width: 116px;
  height: 26px;
  line-height: 26px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: url("../images/bg-searchbtn.png") no-repeat scroll right 0 transparent;
  color: #999;
  cursor: pointer;
}
/* line 480, ../sass/main.scss */
.content .navbar .nav .searchbox ul {
  /*display:none;*/
  position: absolute;
  top: 26px;
  left: 2px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  width: 122px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 493, ../sass/main.scss */
.content .navbar .nav .searchbox ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 20px;
  color: #f3c347;
  width: 122px;
}
/* line 500, ../sass/main.scss */
.content .navbar .nav .searchbox ul li a, .content .navbar .nav .searchbox ul li span {
  padding-left: 30px;
  width: 92px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-decoration: none;
}
/* line 506, ../sass/main.scss */
.content .navbar .nav .searchbox ul li span {
  cursor: default;
}
/* line 507, ../sass/main.scss */
.content .navbar .nav .searchbox ul li a {
  cursor: pointer;
  color: #666;
}
/* line 511, ../sass/main.scss */
.content .navbar .nav .searchbox ul li a:hover {
  color: #f3c347;
  background: #fff;
}
/* line 515, ../sass/main.scss */
.content .navbar .nav .searchbox ul li .en, .content .navbar .nav .searchbox ul li .en:hover {
  background: url("../images/icon-en_16.png") no-repeat scroll 8px center transparent;
}
/* line 518, ../sass/main.scss */
.content .navbar .nav .searchbox ul li .cn, .content .navbar .nav .searchbox ul li .cn:hover {
  background: url("../images/icon-cn_16.png") no-repeat scroll 8px center transparent;
}
/* line 527, ../sass/main.scss */
.content .navbar .nav .searchbox:hover {
  height: 68px;
}
/* line 529, ../sass/main.scss */
.content .navbar .nav .searchbox:hover ul {
  /*@include inline-block;*/
}
/* line 535, ../sass/main.scss */
.content .navbar2 {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  width: 100%;
}
/* line 541, ../sass/main.scss */
.content .navbar2 .nav2 {
  float: right;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
}
/* line 548, ../sass/main.scss */
.content .navbar2 .nav2 a {
  margin-left: 7px;
  margin-right: 7px;
  text-decoration: none;
  color: #b8b8b8;
}
/* line 556, ../sass/main.scss */
.content .navbar2 .nav2 a:hover, .content .navbar2 .nav2 a.current {
  text-decoration: underline;
  color: #f4b613;
}
/* line 562, ../sass/main.scss */
.content .ad1 {
  width: 960px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}
/* line 568, ../sass/main.scss */
.content .ad1 .scrollable {
  position: relative;
  overflow: hidden;
  width: 960px;
  height: 300px;
}
/* line 573, ../sass/main.scss */
.content .ad1 .scrollable .items {
  width: 20000em;
  position: absolute;
}
/* line 576, ../sass/main.scss */
.content .ad1 .scrollable .items .imgbox {
  float: left;
  position: relative;
}
/* line 578, ../sass/main.scss */
.content .ad1 .scrollable .items .imgbox img {
  width: 960px;
  height: 300px;
}
/* line 583, ../sass/main.scss */
.content .ad1 .scrollable .items .imgbox .img_desc {
  width: 400px;
  position: absolute;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  right: 0px;
  bottom: 25px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: url(../images/bg-trans.png) repeat transparent;
  /*以下为IE6设置PNG透明代码*/
  _background: none;
  /*下面的src是相对于html的位置*/
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg-trans.png");
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}
/* line 603, ../sass/main.scss */
.content .ad1 .scrollable .items .imgbox .img_desc h2 {
  font-family: Myriad Pro;
  font-size: 18px;
  line-height: 24px;
  word-wrap: break-word;
  word-break: break-all;
}
/* line 612, ../sass/main.scss */
.content .ad1 .scrollable .items .imgbox .img_desc p {
  font-family: Myriad Pro;
  font-size: 16px;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
}
/* line 622, ../sass/main.scss */
.content .ad1 .scrollable .items .imgbox a.img_desc {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
/* line 6, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_unstyled-link.scss */
.content .ad1 .scrollable .items .imgbox a.img_desc:active, .content .ad1 .scrollable .items .imgbox a.img_desc:focus {
  outline: none;
}
/* line 630, ../sass/main.scss */
.content .ad1 .scrollable .scrollingHotSpotLeft {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 60px;
  background: url("../images/arrow_left.png") no-repeat scroll center center #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  opacity: 0.35;
  z-index: 200;
  cursor: pointer;
  display: none;
}
/* line 642, ../sass/main.scss */
.content .ad1 .scrollable .scrollingHotSpotRight {
  position: absolute;
  top: 0;
  right: 0;
  height: 300px;
  width: 60px;
  background: url("../images/arrow_right.png") no-repeat scroll center center #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  opacity: 0.35;
  z-index: 200;
  cursor: pointer;
  display: none;
}
/* line 656, ../sass/main.scss */
.content .ad1 .scrollable:hover .scrollingHotSpotLeft, .content .ad1 .scrollable:hover .scrollingHotSpotRight {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 662, ../sass/main.scss */
.content .ad2 {
  padding-left: 10px;
}
/* line 666, ../sass/main.scss */
.content .ad3 li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 669, ../sass/main.scss */
.content .ad3 .fix_ad3_right {
  padding-right: 3px;
}
/* line 673, ../sass/main.scss */
.content .ad4 {
  padding-left: 10px;
}
/* line 676, ../sass/main.scss */
.content .ad5 {
  width: 450px;
}
/* line 678, ../sass/main.scss */
.content .ad5 .artical_listbox li a {
  width: 340px;
}
/* line 680, ../sass/main.scss */
.content .ad6 {
  padding-top: 14px;
  padding-left: 40px;
}
/* line 685, ../sass/main.scss */
.content .ad6 .tagal {
  width: 200px;
  height: 96px;
  background: url("../images/bg-tagal.png") no-repeat scroll 0 0 transparent;
}
/* line 690, ../sass/main.scss */
.content .ad6 .tagal_title {
  font-size: 15px;
  line-height: 30px;
}
/* line 695, ../sass/main.scss */
.content .ad7 {
  padding-top: 50px;
  padding-left: 5px;
  padding-bottom: 20px;
}
/* line 703, ../sass/main.scss */
.content .sub_page_imgbox img {
  /*width:580px;*/
  width: 100%;
  height: auto;
}
/* line 705, ../sass/main.scss */
.content .sub_page_content {
  padding-left: 10px;
  padding-bottom: 20px;
}
/* line 710, ../sass/main.scss */
.content .sub_page_content .sub_page_content_title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 720, ../sass/main.scss */
.content .sub_page_content .sub_page_content_content {
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 20px;
}
/* line 727, ../sass/main.scss */
.content .news {
  padding-bottom: 20px;
}
/* line 729, ../sass/main.scss */
.content .news .news_title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 46px;
  padding-bottom: 10px;
  line-height: 22px;
  color: #10387e;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
}
/* line 744, ../sass/main.scss */
.content .news .news_date {
  color: #666;
  line-height: 20px;
}
/* line 749, ../sass/main.scss */
.content .news .news_content .news_imgbox {
  float: left;
  padding: 2px;
  border: 1px solid #666;
}
/* line 754, ../sass/main.scss */
.content .news .news_content .img_desc {
  text-align: right;
  color: #666;
  font-size: 10px;
  line-height: 16px;
}
/* line 763, ../sass/main.scss */
.content .search_page_box .maintitle {
  color: #10387e;
  font-size: 16px;
  line-height: 30px;
}
/* line 768, ../sass/main.scss */
.content .search_page_box .desc {
  line-height: 16px;
  margin-bottom: 18px;
  margin-top: 10px;
}
/* line 773, ../sass/main.scss */
.content .search_page_box .search_in_box {
  background: #e3eaf0;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 780, ../sass/main.scss */
.content .search_page_box .search_in_box .subtitle {
  color: #10387e;
  font-size: 14px;
  line-height: 26px;
}
/* line 785, ../sass/main.scss */
.content .search_page_box .search_in_box .inbox {
  height: 40px;
}
/* line 788, ../sass/main.scss */
.content .search_page_box .search_in_box input {
  border: none;
  width: 350px;
  height: 26px;
  line-height: 26px;
  background: url("../images/bg-searchbox_l.png") no-repeat scroll 0 0 transparent;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
/* line 801, ../sass/main.scss */
.content .search_page_box .search_in_box button {
  border: none;
  background: url("../images/bg-searchbtn1.png") no-repeat scroll 0 0 transparent;
  width: 122px;
  height: 28px;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 10px;
}
/* line 811, ../sass/main.scss */
.content .search_page_box .input_desc {
  color: #999;
  line-height: 30px;
}
/* line 816, ../sass/main.scss */
.content .search_result_box {
  padding-top: 20px;
}
/* line 818, ../sass/main.scss */
.content .search_result_box .search_result_title {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  border-bottom: 2px solid #999;
}
/* line 827, ../sass/main.scss */
.content .search_result_box .search_result_list li {
  padding-top: 12px;
  font-size: 14px;
}
/* line 830, ../sass/main.scss */
.content .search_result_box .search_result_list li a {
  color: #10387e;
  text-decoration: none;
  line-height: 24px;
}
/* line 835, ../sass/main.scss */
.content .search_result_box .search_result_list li p {
  line-height: 16px;
  word-wrap: break-word;
  word-break: break-all;
}
/* line 840, ../sass/main.scss */
.content .search_result_box .search_result_list li em {
  color: #d71345;
}
/* line 846, ../sass/main.scss */
.content .concat_page_box {
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 853, ../sass/main.scss */
.content .concat_message_box {
  padding-top: 6px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #e5e5e5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 860, ../sass/main.scss */
.content .concat_message_box .left {
  width: 220px;
  float: left;
}
/* line 864, ../sass/main.scss */
.content .concat_message_box .right {
  margin-left: 240px;
}
/* line 869, ../sass/main.scss */
.content .concat_message_box h2 {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  line-height: 24px;
  margin-bottom: 5px;
}
/* line 878, ../sass/main.scss */
.content .concat_message_box p {
  line-height: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 882, ../sass/main.scss */
.content .concat_message_box p a {
  color: #10387e;
  text-decoration: none;
}
/* line 888, ../sass/main.scss */
.content .map_box {
  padding-top: 30px;
}
/* line 890, ../sass/main.scss */
.content .map_box .left {
  width: 420px;
  float: left;
  height: 360px;
  background: url("../images/tagalworld_cn.png") no-repeat scroll 0 16px transparent;
}
/* line 895, ../sass/main.scss */
.content .map_box .left p {
  background: url("../images/bg_contact.png") repeat-y scroll 0 0 transparent;
  width: 300px;
  padding-left: 20px;
  padding-right: 21px;
  line-height: 16px;
}
/* line 905, ../sass/main.scss */
.content .map_box .right {
  padding-top: 120px;
}
/* line 907, ../sass/main.scss */
.content .map_box .right img {
  width: 280px;
  height: auto;
}
/* line 913, ../sass/main.scss */
.content .mem_wrap {
  padding-top: 40px;
  padding-left: 20px;
}
/* line 918, ../sass/main.scss */
.content .mem_wrap ul.labels {
  z-index: 999;
  background: #fff;
  padding-bottom: 20px;
}
/* line 922, ../sass/main.scss */
.content .mem_wrap ul.labels li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-right: 5px;
}
/* line 925, ../sass/main.scss */
.content .mem_wrap ul.labels li a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  color: #d2d8e0;
  /*font-size:14px;*/
  border-bottom: 3px solid #d2d8e0;
  /*left:8px;
  right:8px;*/
  padding-top: 5px;
  padding-bottom: 4px;
  width: 54px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 6, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_unstyled-link.scss */
.content .mem_wrap ul.labels li a:active, .content .mem_wrap ul.labels li a:focus {
  outline: none;
}
/* line 942, ../sass/main.scss */
.content .mem_wrap ul.labels li a.highlight {
  color: #ffe57e;
  border-bottom: 3px solid #ffe57e;
  text-align: center;
  width: 60px;
}
/* line 950, ../sass/main.scss */
.content .mem_wrap ul.lebelsoverflow {
  /*@include box-shadow(red 2px 2px 10px);*/
  position: fixed;
  top: 0;
  border-bottom: solid 1px #999;
}
/* line 956, ../sass/main.scss */
.content .mem_wrap .mem_box {
  background: url("../images/bg-mem-line.png") repeat-y scroll 20px 0 transparent;
  /*top:20px;*/
  margin-bottom: 20px;
  max-width: 660px;
}
/* line 965, ../sass/main.scss */
.content .mem_wrap .mem_box ul.mems li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-left: 50px;
  padding-bottom: 20px;
  background: url("../images/icon-circle.png") no-repeat scroll 15px 0 transparent;
  text-decoration: none;
  color: #10387e;
  word-wrap: break-word;
  word-break: break-all;
}
/* line 976, ../sass/main.scss */
.content .mem_wrap .mem_box ul.mems li a .m_box {
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background: whitesmoke;
}
/* line 978, ../sass/main.scss */
.content .mem_wrap .mem_box ul.mems li a .m_box i {
  position: absolute;
  left: -9px;
  top: 2px;
  display: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 8.7px 5px 0;
  border-color: transparent #ffcb11 transparent transparent;
  line-height: 0px;
  _border-color: #000000 #ffcb11 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
/* line 997, ../sass/main.scss */
.content .mem_wrap .mem_box ul.mems li a .m_box .left {
  float: left;
  width: 138px;
  padding-top: 10px;
  padding-left: 5px;
}
/* line 1004, ../sass/main.scss */
.content .mem_wrap .mem_box ul.mems li a .m_box .left .date {
  color: #333;
  background: #fff;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 1013, ../sass/main.scss */
.content .mem_wrap .mem_box ul.mems li a .m_box .left .txt {
  line-height: 16px;
  word-wrap: break-word;
  word-break: break-all;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 1023, ../sass/main.scss */
.content .mem_wrap .mem_box ul.mems li a .m_box .right {
  margin-left: 158px;
}
/* line 1025, ../sass/main.scss */
.content .mem_wrap .mem_box ul.mems li a .m_box .right .txt {
  line-height: 16px;
  word-wrap: break-word;
  word-break: break-all;
  padding-top: 8px;
  padding-right: 5px;
}
/* line 1033, ../sass/main.scss */
.content .mem_wrap .mem_box ul.mems li a .m_box .right .txt img {
  width: 150px;
  height: auto;
}
/* line 1041, ../sass/main.scss */
.content .mem_wrap .mem_box ul.mems li a.highlight {
  background: url("../images/icon-circle-h.png") no-repeat scroll 15px 0 transparent;
}
/* line 1043, ../sass/main.scss */
.content .mem_wrap .mem_box ul.mems li a.highlight .m_box {
  border: 1px solid #ffcb11;
}
/* line 1044, ../sass/main.scss */
.content .mem_wrap .mem_box ul.mems li a.highlight .m_box i {
  display: inline;
}

/* line 1051, ../sass/main.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 960px;
  height: 54px;
  /*footer的高度*/
  clear: both;
  padding-top: 18px;
  background: url("../images/bg-footer.png") no-repeat scroll 0 0 #fff;
  margin: 0 auto;
}
/* line 1061, ../sass/main.scss */
.footer a {
  color: #10387e;
  text-decoration: none;
}
/* line 1065, ../sass/main.scss */
.footer a:hover {
  text-decoration: underline;
  color: #f4b613;
}
/* line 1069, ../sass/main.scss */
.footer .footer-info {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 450px;
}
/* line 1073, ../sass/main.scss */
.footer .footer-info-link {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 1079, ../sass/main.scss */
.footer .footer-info-icp {
  padding-bottom: 10px;
}
/* line 1084, ../sass/main.scss */
.footer div.brand {
  float: right;
  background: url("../images/bg-brand.png") no-repeat scroll 0 0 #fff;
  height: 37px;
  width: 112px;
  margin-right: 18px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
